:root {
  --text_primary_color: #2c2d40;
  --text_secondary_color: #9080f2;
  --text_tertary_color: #585a80;
}

section {
  /* margin: 2rem 0; */
  margin-bottom: 2rem;
  width: 100%;
  height: fit-content;
}

h1 {
  color: var(--text_primary_color);
  text-align: center;
  font-size: 9.5vw;
  font-weight: 800;
  margin: 0.6rem 0;
}

h2 {
  color: var(--text_secondary_color);
  text-align: center;
  font-family: Maven Pro;
  font-size: 5.5vw;
  font-weight: 400;
}

h3 {
  color: var(--text_secondary_color);
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

p {
  color: var(--text_tertary_color);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 15vw;
}

span {
  display: block;
  text-align: center;
  font-size: 1.1rem;
}

img {
  width: inherit;
  height: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: fit-content;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

::selection {
  background: rgba(145, 130, 242, 1);
  color: #000;
}

::-moz-selection {
  background: rgba(145, 130, 242, 1);
  color: #000;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.3rem;
    /* color: #9080f2; */
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    max-width: 18rem;
    margin: auto;
  }

  span {
    font-size: 1.4rem;
  }

  form {
    width: 85%;
    max-width: 35rem;
  }

  section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 3.8vw;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
    margin: auto;
    max-width: 25rem;
  }

  span {
    font-size: 1.6rem;
  }
  section {
    margin-bottom: 5.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 5.96rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 3rem;
  }
  span {
    font-size: 1.95rem;
  }

  p {
    font-size: 1.25rem;
  }
}
